# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Xcode specific
*.moved-aside
*.xccheckout
*.xcscmblueprint

# User settings
*.swp
*.lock

# Misc
*.DS_Store

